.block {
  position: relative;
  display: inline-block;
  border-style: solid;
  background-color: #EEEEEE;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.button {
  position: absolute;
  border-style: solid;
  cursor: pointer;
}
